.container{
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  /* border: 1px solid black; */
  margin-inline: auto;
}

& a:hover{
  color: var(--brand-color);
  text-decoration: underline;

  & svg path{
    stroke: var(--brand-color);
  }
}

 nav{
  line-height: 0;
  & img:first-child{
    margin-right: auto;

    width: 162px;
    height: 32px;
  }

  & img:nth-child(5){
    width: 40px;
    height: 40px;
  }

  & svg{
    width: 24px;
    height: 24px;
  }
}

@media (width >= 80em){
  .container{
  --max-width: 80em;
  }

  nav{
      & img:first-child{
        margin-right: auto;
        width: 162px;
        height: 32px;
      }
      
      & img:nth-child(5){
        width: 40px;
        height: 40px;
      }
      
      & svg{
        width: 2rem;
        height: 2rem;
      }
    }
  }