.px-lg{
  padding-inline: var(--px-lg);
}

.margin{
  margin-top: 1rem;
}

.px-base{
  padding-inline: var(--px-base);
}

.py-base{
  padding-block: var(--py-base);
}

.py-sm{
  padding-block: var(--py-sm);
}

.py-md{
  padding-block: var(--py-md);
}

.py-lg{
  padding-block: var(--py-lg);
}

.gap-1{
  gap: 1rem;
}

.gap\.5{
gap: .5rem;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.flex-d{
  flex-direction: column;
}

.center{
  align-items: center;
}

.grid{
  display: grid;
}

.surface{
  background-color: var(--surface-color);
}

.desktop-only{
  display: none;
}

.smartphone{
  display: initial;
}

.justify{
  justify-content: space-between;
}

@media (width >= 80em){
  :root{
    --py-base: .8rem;
    --px-base: var(--px-lg)
  }

  .desktop-only{
    display: initial;
  }
  .smartphone{
    display: none;
  }

  .flex-d{
    padding-left: 2rem;
    gap: .5rem;

    & p{
      max-width: 24rem;
    }
  }
}



